USE [QLNHANSU]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BANGCONG](
	[MABC] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [int] NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[GIOVAO] [int] NULL,
	[PHUTVAO] [int] NULL,
	[GIORA] [int] NULL,
	[PHUTRA] [int] NULL,
	[MANV] [int] NULL,
	[IDLOAICONG] [int] NULL,
 CONSTRAINT [PK_tb_BANGCONG] PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BANGCONG_NHANVIEN_CHITIET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKYCONG] [int] NULL,
	[MACTY] [int] NULL,
	[MANV] [int] NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAY] [date] NULL,
	[THU] [nvarchar](50) NULL,
	[GIOVAO] [nvarchar](50) NULL,
	[GIORA] [nvarchar](50) NULL,
	[NGHIKHONGPHEP] [float] NULL,
	[NGAYPHEP] [float] NULL,
	[CONGNGAYLE] [float] NULL,
	[NGAYCONG] [float] NULL,
	[CONGCHUNHAT] [float] NULL,
	[KYHIEU] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_BANGCONG_NHANVIEN_CT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_BANGLUONG]    Script Date: 18/12/2023 12:47:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BANGLUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKYCONG] [int] NOT NULL,
	[MANV] [int] NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYCONGTRONGTHANG] [int] NULL,
	[NGAYPHEP] [float] NULL,
	[KHONGPHEP] [float] NULL,
	[NGAYLE] [float] NULL,
	[NGAYCHUNHAT] [float] NULL,
	[TANGCA] [float] NULL,
	[UNGLUONG] [float] NULL,
	[PHUCAP] [float] NULL,
	[NGAYTHUONG] [float] NULL,
	[THUCLANH] [float] NULL,
 CONSTRAINT [PK_tb_BANGLUONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BAOHIEM](
	[IDBH] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[SOBH] [nvarchar](50) NULL,
	[NGAYCAP] [date] NULL,
	[NOICAP] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_BAOHIEM] PRIMARY KEY CLUSTERED 
(
	[IDBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BOPHAN](
	[IDBP] [int] IDENTITY(1,1) NOT NULL,
	[TENBP] [nvarchar](20) NULL,
 CONSTRAINT [PK_tb_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[IDBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CHUCVU](
	[IDCV] [int] IDENTITY(1,1) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[IDCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Config](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Value] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_Config] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CONGTY](
	[MACTY] [int] IDENTITY(1,1) NOT NULL,
	[TENCTY] [nvarchar](50) NULL,
	[DIENTHOAI] [nchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nchar](50) NULL,
 CONSTRAINT [PK_tb_CONGTY] PRIMARY KEY CLUSTERED 
(
	[MACTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DANTOC](
	[IDDT] [int] IDENTITY(1,1) NOT NULL,
	[TENDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_DANTOC] PRIMARY KEY CLUSTERED 
(
	[IDDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HOPDONG](
	[SOHD] [nvarchar](50) NOT NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
	[NGAYKY] [date] NULL,
	[LANKY] [int] NULL,
	[THOIHAN] [nvarchar](50) NULL,
	[LUONGCOBAN] [float] NULL,
	[HESOLUONG] [float] NULL,
	[MANV] [int] NULL,
	[MACTY] [int] NULL,
 CONSTRAINT [PK_tb_HOPDONG_1] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KHENTHUONG](
	[SOQUYETDINH] [nvarchar](50) NOT NULL,
	[LYDO] [nvarchar](max) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[NGAY] [date] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_tb_KHENTHUONG] PRIMARY KEY CLUSTERED 
(
	[SOQUYETDINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KYCONG](
	[MAKYCONG] [int] NOT NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[KHOA] [bit] NULL,
	[NGAYTINHCONG] [datetime] NULL,
	[NGAYCONGTRONGTHANG] [float] NULL,
	[MACTY] [int] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_tb_KYCONG] PRIMARY KEY CLUSTERED 
(
	[MAKYCONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KYCONGCHITIET](
	[MAKYCONG] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[MACTY] [int] NULL,
	[D1] [nvarchar](10) NULL,
	[D2] [nvarchar](10) NULL,
	[D3] [nvarchar](10) NULL,
	[D4] [nvarchar](10) NULL,
	[D5] [nvarchar](10) NULL,
	[D6] [nvarchar](10) NULL,
	[D7] [nvarchar](10) NULL,
	[D8] [nvarchar](10) NULL,
	[D9] [nvarchar](10) NULL,
	[D10] [nvarchar](10) NULL,
	[D11] [nvarchar](10) NULL,
	[D12] [nvarchar](10) NULL,
	[D13] [nvarchar](10) NULL,
	[D14] [nvarchar](10) NULL,
	[D15] [nvarchar](10) NULL,
	[D16] [nvarchar](10) NULL,
	[D17] [nvarchar](10) NULL,
	[D18] [nvarchar](10) NULL,
	[D19] [nvarchar](10) NULL,
	[D20] [nvarchar](10) NULL,
	[D21] [nvarchar](10) NULL,
	[D22] [nvarchar](10) NULL,
	[D23] [nvarchar](10) NULL,
	[D24] [nvarchar](10) NULL,
	[D25] [nvarchar](10) NULL,
	[D26] [nvarchar](10) NULL,
	[D27] [nvarchar](10) NULL,
	[D28] [nvarchar](10) NULL,
	[D29] [nvarchar](10) NULL,
	[D30] [nvarchar](10) NULL,
	[D31] [nvarchar](10) NULL,
	[NGAYCONG] [float] NULL,
	[NGAYPHEP] [float] NULL,
	[NGHIKHONGPHEP] [float] NULL,
	[CONGNGAYLE] [float] NULL,
	[CONGCHUNHAT] [float] NULL,
	[TONGNGAYCONG] [float] NULL,
 CONSTRAINT [PK_KYCONGCHITIET_1] PRIMARY KEY CLUSTERED 
(
	[MAKYCONG] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KYLUAT](
	[SOQUYETDINH] [nvarchar](50) NOT NULL,
	[LYDO] [nvarchar](max) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[TUNGAY] [date] NULL,
	[DENNGAY] [date] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_tb_KYLUAT] PRIMARY KEY CLUSTERED 
(
	[SOQUYETDINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LOAICA](
	[IDLOAICA] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAICA] [nvarchar](50) NULL,
	[HESO] [float] NULL,
 CONSTRAINT [PK_tb_LOAICA] PRIMARY KEY CLUSTERED 
(
	[IDLOAICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LOAICONG](
	[IDLOAICONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAICONG] [nvarchar](50) NULL,
	[HESO] [float] NULL,
 CONSTRAINT [PK_tb_LOAICONG] PRIMARY KEY CLUSTERED 
(
	[IDLOAICONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_LOGIN](
	[USERNAME] [varchar](50) NOT NULL,
	[PASS] [varchar](50) NULL,
 CONSTRAINT [PK_tb_LOGIN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[DIENTHOAI] [varchar](10) NULL,
	[CCCD] [varchar](20) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[IDPB] [int] NULL,
	[IDBP] [int] NULL,
	[IDCV] [int] NULL,
	[IDTD] [int] NULL,
	[IDDT] [int] NULL,
	[IDTG] [int] NULL,
	[MACTY] [int] NULL,
	[DATHOIVIEC] [bit] NULL,
 CONSTRAINT [PK_tb_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHANVIEN_PHUCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[IDPC] [int] NULL,
	[NGAY] [date] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[SOTIEN] [float] NULL,
 CONSTRAINT [PK_tb_NHANVIEN_PHUCAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PHONGBAN](
	[IDPB] [int] IDENTITY(1,1) NOT NULL,
	[TENPB] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[IDPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PHUCAP](
	[IDPC] [int] IDENTITY(1,1) NOT NULL,
	[TENPC] [nvarchar](50) NULL,
	[SOTIEN] [float] NULL,
 CONSTRAINT [PK_tb_PHUCAP] PRIMARY KEY CLUSTERED 
(
	[IDPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TANGCA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [int] NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[SOGIO] [float] NULL,
	[MANV] [int] NULL,
	[SOTIEN] [float] NULL,
	[IDLOAICA] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_TANGCA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TONGIAO](
	[IDTG] [int] IDENTITY(1,1) NOT NULL,
	[TENTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_TONGIAO] PRIMARY KEY CLUSTERED 
(
	[IDTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TRINHDO](
	[IDTD] [int] IDENTITY(1,1) NOT NULL,
	[TENTD] [nvarchar](20) NULL,
 CONSTRAINT [PK_tb_TRINHDO] PRIMARY KEY CLUSTERED 
(
	[IDTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_UNGLUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[NGAYMACDINH] [date] NULL,
	[NGAY] [int] NULL,
	[SOTIEN] [float] NULL,
	[MANV] [int] NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_UNGLUONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] ON 

INSERT [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] ([ID], [MAKYCONG], [MACTY], [MANV], [HOTEN], [NGAY], [THU], [GIOVAO], [GIORA], [NGHIKHONGPHEP], [NGAYPHEP], [CONGNGAYLE], [NGAYCONG], [CONGCHUNHAT], [KYHIEU], [GHICHU]) VALUES (1, 202301, 1, 1, N'Nguyễn Hữu Tuấn', CAST(N'2023-01-01' AS Date), N'Chủ Nhật', N'07:00', N'17:00', NULL, 0, 0, 0, 0, N'CN', NULL)
INSERT [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] ([ID], [MAKYCONG], [MACTY], [MANV], [HOTEN], [NGAY], [THU], [GIOVAO], [GIORA], [NGHIKHONGPHEP], [NGAYPHEP], [CONGNGAYLE], [NGAYCONG], [CONGCHUNHAT], [KYHIEU], [GHICHU]) VALUES (2, 202301, 1, 1, N'Nguyễn Hữu Tuấn', CAST(N'2023-01-02' AS Date), N'Thứ Hai', N'07:00', N'17:00', NULL, 0, 0, 1, 0, N'X', NULL)
INSERT [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] ([ID], [MAKYCONG], [MACTY], [MANV], [HOTEN], [NGAY], [THU], [GIOVAO], [GIORA], [NGHIKHONGPHEP], [NGAYPHEP], [CONGNGAYLE], [NGAYCONG], [CONGCHUNHAT], [KYHIEU], [GHICHU]) VALUES (3, 202301, 1, 1, N'Nguyễn Hữu Tuấn', CAST(N'2023-01-03' AS Date), N'Thứ Ba', N'07:00', N'17:00', NULL, 0, 0, 1, 0, N'X', NULL)
SET IDENTITY_INSERT [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] OFF
SET IDENTITY_INSERT [dbo].[tb_BANGLUONG] ON 

INSERT [dbo].[tb_BANGLUONG] ([ID], [MAKYCONG], [MANV], [HOTEN], [NGAYCONGTRONGTHANG], [NGAYPHEP], [KHONGPHEP], [NGAYLE], [NGAYCHUNHAT], [TANGCA], [UNGLUONG], [PHUCAP], [NGAYTHUONG], [THUCLANH]) VALUES (1, 202301, 1, N'Nguyễn Hữu Tuấn', 26, 115384.61538461539, NULL, 0, 0, 0, 0, 0, 9615384.615384616, 9730769.2307692319)
INSERT [dbo].[tb_BANGLUONG] ([ID], [MAKYCONG], [MANV], [HOTEN], [NGAYCONGTRONGTHANG], [NGAYPHEP], [KHONGPHEP], [NGAYLE], [NGAYCHUNHAT], [TANGCA], [UNGLUONG], [PHUCAP], [NGAYTHUONG], [THUCLANH]) VALUES (2, 202301, 2, N'Nguyễn Thanh Tú', 26, 0, NULL, 0, 0, 0, 0, 0, 10000000, 10000000)
INSERT [dbo].[tb_BANGLUONG] ([ID], [MAKYCONG], [MANV], [HOTEN], [NGAYCONGTRONGTHANG], [NGAYPHEP], [KHONGPHEP], [NGAYLE], [NGAYCHUNHAT], [TANGCA], [UNGLUONG], [PHUCAP], [NGAYTHUONG], [THUCLANH]) VALUES (3, 202301, 3, N'Lê Thị B', 26, 0, NULL, 0, 0, 0, 0, 0, 4500000, 4500000)
SET IDENTITY_INSERT [dbo].[tb_BANGLUONG] OFF
SET IDENTITY_INSERT [dbo].[tb_BOPHAN] ON 

INSERT [dbo].[tb_BOPHAN] ([IDBP], [TENBP]) VALUES (1, N'Hành Chính, Nhân Sự')
INSERT [dbo].[tb_BOPHAN] ([IDBP], [TENBP]) VALUES (2, N'Tài Chính, Kế Toán')
INSERT [dbo].[tb_BOPHAN] ([IDBP], [TENBP]) VALUES (3, N'Kinh Doanh')
SET IDENTITY_INSERT [dbo].[tb_BOPHAN] OFF
SET IDENTITY_INSERT [dbo].[tb_CHUCVU] ON 

INSERT [dbo].[tb_CHUCVU] ([IDCV], [TENCV]) VALUES (1, N'Giám Đốc Điều Hành')
INSERT [dbo].[tb_CHUCVU] ([IDCV], [TENCV]) VALUES (2, N'Giám Đốc Tài Chính')
INSERT [dbo].[tb_CHUCVU] ([IDCV], [TENCV]) VALUES (3, N'Giám Đốc Marketing')
SET IDENTITY_INSERT [dbo].[tb_CHUCVU] OFF
SET IDENTITY_INSERT [dbo].[tb_Config] ON 

INSERT [dbo].[tb_Config] ([ID], [Name], [Value]) VALUES (1, N'TANGCA', N'200000')
SET IDENTITY_INSERT [dbo].[tb_Config] OFF
SET IDENTITY_INSERT [dbo].[tb_CONGTY] ON 

INSERT [dbo].[tb_CONGTY] ([MACTY], [TENCTY], [DIENTHOAI], [DIACHI], [EMAIL]) VALUES (1, N'CTY KT-PM T&T', N'0706672928', N'Ninh Kiều, TP Cần Thơ', N'ctyktpmtt@gmail.com                               ')
SET IDENTITY_INSERT [dbo].[tb_CONGTY] OFF
SET IDENTITY_INSERT [dbo].[tb_DANTOC] ON 

INSERT [dbo].[tb_DANTOC] ([IDDT], [TENDT]) VALUES (1, N'Kinh')
INSERT [dbo].[tb_DANTOC] ([IDDT], [TENDT]) VALUES (2, N'Tày')
INSERT [dbo].[tb_DANTOC] ([IDDT], [TENDT]) VALUES (3, N'Thái')
SET IDENTITY_INSERT [dbo].[tb_DANTOC] OFF
INSERT [dbo].[tb_HOPDONG] ([SOHD], [NGAYBATDAU], [NGAYKETTHUC], [NGAYKY], [LANKY], [THOIHAN], [LUONGCOBAN], [HESOLUONG], [MANV], [MACTY]) VALUES (N'00001/2023/HĐLĐ', CAST(N'2023-12-11' AS Date), CAST(N'2024-12-11' AS Date), CAST(N'2023-12-11' AS Date), 1, N'12 Tháng', 5000000, 2, 1, 1)
INSERT [dbo].[tb_HOPDONG] ([SOHD], [NGAYBATDAU], [NGAYKETTHUC], [NGAYKY], [LANKY], [THOIHAN], [LUONGCOBAN], [HESOLUONG], [MANV], [MACTY]) VALUES (N'00002/2023/HĐLĐ', CAST(N'2023-12-11' AS Date), CAST(N'2024-12-11' AS Date), CAST(N'2023-12-11' AS Date), 1, N'12 Tháng', 3000000, 1.5, 3, 1)
INSERT [dbo].[tb_HOPDONG] ([SOHD], [NGAYBATDAU], [NGAYKETTHUC], [NGAYKY], [LANKY], [THOIHAN], [LUONGCOBAN], [HESOLUONG], [MANV], [MACTY]) VALUES (N'00003/2023/HĐLĐ', CAST(N'2023-12-11' AS Date), CAST(N'2024-12-11' AS Date), CAST(N'2023-12-11' AS Date), 1, N'12 Tháng', 5000000, 2, 2, 1)
INSERT [dbo].[tb_KYCONG] ([MAKYCONG], [THANG], [NAM], [KHOA], [NGAYTINHCONG], [NGAYCONGTRONGTHANG], [MACTY], [TRANGTHAI]) VALUES (202301, 1, 2023, 0, CAST(N'2023-12-11 13:11:39.270' AS DateTime), 26, 1, 1)
SET IDENTITY_INSERT [dbo].[tb_LOAICA] ON 

INSERT [dbo].[tb_LOAICA] ([IDLOAICA], [TENLOAICA], [HESO]) VALUES (1, N'Ca Đêm', 2)
SET IDENTITY_INSERT [dbo].[tb_LOAICA] OFF
SET IDENTITY_INSERT [dbo].[tb_LOAICONG] ON 

INSERT [dbo].[tb_LOAICONG] ([IDLOAICONG], [TENLOAICONG], [HESO]) VALUES (2, N'Công Chủ Nhật', 2)
INSERT [dbo].[tb_LOAICONG] ([IDLOAICONG], [TENLOAICONG], [HESO]) VALUES (3, N'Công Ngày Lễ ', 3)
SET IDENTITY_INSERT [dbo].[tb_LOAICONG] OFF
INSERT [dbo].[tb_LOGIN] ([USERNAME], [PASS]) VALUES (N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[tb_NHANVIEN] ON 

INSERT [dbo].[tb_NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [NGAYSINH], [DIENTHOAI], [CCCD], [DIACHI], [IDPB], [IDBP], [IDCV], [IDTD], [IDDT], [IDTG], [MACTY], [DATHOIVIEC]) VALUES (1, N'Nguyễn Hữu Tuấn', 1, CAST(N'2002-12-29' AS Date), N'0706672928', N'758439123401', N'Bình Tân, Vĩnh Long', 2, 3, 1, 3, 1, 7, 1, NULL)
INSERT [dbo].[tb_NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [NGAYSINH], [DIENTHOAI], [CCCD], [DIACHI], [IDPB], [IDBP], [IDCV], [IDTD], [IDDT], [IDTG], [MACTY], [DATHOIVIEC]) VALUES (2, N'Nguyễn Thanh Tú', 1, CAST(N'2002-01-01' AS Date), N'0706572928', N'758439123412', N'Cần Thơ', 2, 2, 2, 3, 1, 4, 1, NULL)
INSERT [dbo].[tb_NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [NGAYSINH], [DIENTHOAI], [CCCD], [DIACHI], [IDPB], [IDBP], [IDCV], [IDTD], [IDDT], [IDTG], [MACTY], [DATHOIVIEC]) VALUES (3, N'Lê Thị B', 0, CAST(N'2003-01-01' AS Date), N'0706572557', N'758439123312', N'Sóc Trăng', 4, 4, 5, 4, 1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[tb_NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[tb_PHONGBAN] ON 

INSERT [dbo].[tb_PHONGBAN] ([IDPB], [TENPB]) VALUES (1, N'Quản Lý')
INSERT [dbo].[tb_PHONGBAN] ([IDPB], [TENPB]) VALUES (2, N'Giám Đốc')
INSERT [dbo].[tb_PHONGBAN] ([IDPB], [TENPB]) VALUES (3, N'Sản Xuất')
SET IDENTITY_INSERT [dbo].[tb_PHONGBAN] OFF
SET IDENTITY_INSERT [dbo].[tb_PHUCAP] ON 

INSERT [dbo].[tb_PHUCAP] ([IDPC], [TENPC], [SOTIEN]) VALUES (1, N'Xăng Xe', 1000000)
SET IDENTITY_INSERT [dbo].[tb_PHUCAP] OFF
SET IDENTITY_INSERT [dbo].[tb_TONGIAO] ON 

INSERT [dbo].[tb_TONGIAO] ([IDTG], [TENTG]) VALUES (1, N'Phật giáo')
INSERT [dbo].[tb_TONGIAO] ([IDTG], [TENTG]) VALUES (2, N'Kitô giáo')
INSERT [dbo].[tb_TONGIAO] ([IDTG], [TENTG]) VALUES (3, N'Công giáo')
SET IDENTITY_INSERT [dbo].[tb_TONGIAO] OFF
SET IDENTITY_INSERT [dbo].[tb_TRINHDO] ON 

INSERT [dbo].[tb_TRINHDO] ([IDTD], [TENTD]) VALUES (1, N'Tiến sĩ')
INSERT [dbo].[tb_TRINHDO] ([IDTD], [TENTD]) VALUES (2, N'Thạc sĩ')
INSERT [dbo].[tb_TRINHDO] ([IDTD], [TENTD]) VALUES (3, N'Đại học')
SET IDENTITY_INSERT [dbo].[tb_TRINHDO] OFF
ALTER TABLE [dbo].[tb_HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_tb_HOPDONG_tb_CONGTY] FOREIGN KEY([MACTY])
REFERENCES [dbo].[tb_CONGTY] ([MACTY])
GO
ALTER TABLE [dbo].[tb_HOPDONG] CHECK CONSTRAINT [FK_tb_HOPDONG_tb_CONGTY]
GO
ALTER TABLE [dbo].[tb_NHANVIEN_PHUCAP]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_PHUCAP_tb_PHUCAP] FOREIGN KEY([IDPC])
REFERENCES [dbo].[tb_PHUCAP] ([IDPC])
GO
ALTER TABLE [dbo].[tb_NHANVIEN_PHUCAP] CHECK CONSTRAINT [FK_tb_NHANVIEN_PHUCAP_tb_PHUCAP]
GO
